<%- include('partials/header') %>

<div id="content" style="min-height: 400px; display: flex; align-items: center; justify-content: center;">
    <div class="blackbox" style="width: 600px;">
        <div class="blackbox_tl"></div>
        <div class="blackbox_tc"></div>
        <div class="blackbox_tr"></div>
        <div class="blackbox_cw">
            <div class="blackbox_c" style="">
                <div class="blackbox_ci">
                    <div class="block-head-bg"></div>
                    <div class="block-head">
                        <div class="block-head-right">
                            <div class="block-title" style="color: #ff4d4d;">Видеозапись недоступна</div>
                        </div>
                    </div>
                    <div class="block-content" style="text-align: center; padding: 30px;">
                        <p style="color: #ccc; font-size: 16px; margin: 0;">Данная видеозапись была удалена её автором или заблокирована администрацией платформы.</p>
                    </div>
                    <div class="clear_both"></div>
                </div>
                <div class="clear_both"></div>
            </div>
        </div>
        <div class="blackbox_bl"></div>
        <div class="blackbox_bc"></div>
        <div class="blackbox_br"></div>
    </div>
</div>

<%- include('partials/footer') %>
